html, body, .wrapper{
    height: 100%;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
    border: 1px solid #ececec !important;
    border-bottom: 3px solid #DDDDDD !important;
    box-shadow: none !important;
}

#start-simulation .form-control {
    background-color: #eefdf4;
}

::-webkit-input-placeholder {
    color: #d0beb7 !important;
}

.btn-success:hover,
.btn-warning:hover {
    color: rgb(255, 255, 255);
}

.input-container{
    padding-top: 30px;
}

.title{
    color: #455A64;
}

body{
    background-color: #FAFAFA;
}

#importFile {
    display: none;
}

.preloader {
    display:none;
    overflow-x: hidden;
    overflow-y: hidden !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.modal-backdrop.in {
    opacity: 1 !important;
    background-color: #30d89e;
}

.modal-dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
}

.preloader h2{
    color: white;
}